* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

#markdown-input {
  width: 100%;
  height: 100px;
}

#html-output,
#preview {
  height: 100px;
  display: inline-block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  margin: auto;
  white-space: pre-wrap;
  background-color: #f9f9f9;
}

@media (min-width: 600px) {

  #markdown-input,
  #html-output,
  #preview {
    height: 200px;
    margin: 0;
  }

  #container {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
  }
}